<!--IMPORTS-->
<!--This file is a very hacky solution to BeautifulSoup messing up the static formatting needed for Django. Will be cleaned in the future-->
<link rel="stylesheet" type="text/css" href=" {% static "css/jquery.bxslider.css" %}"></link>
<link rel="stylesheet" type="text/css" href=" {% static "css/style.min.css" %}"></link>
<!-- Added by Kevin Wang-->
<link rel="stylesheet" type="text/css" href=" {% static "css/slides.css" %}"></link>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src=" {% static "swfobject/swfobject.js" %} "></script>
<script src=" {% static "js/jquery.bxslider.min.js" %} "></script>
<script src=" {% static "js/multi_slide.js" %}"></script>
<!--IMPORTS-->