<!DOCTYPE html>
<html lang="en-us">
 {% load staticfiles %}
 <head>
  <title>
   EE Slider
  </title>
  <!--IMPORTS-->
<!--This file is a very hacky solution to BeautifulSoup messing up the static formatting needed for Django. Will be cleaned in the future-->
<link rel="stylesheet" type="text/css" href=" {% static "css/jquery.bxslider.css" %}"></link>
<link rel="stylesheet" type="text/css" href=" {% static "css/style.min.css" %}"></link>
<!-- Added by Kevin Wang-->
<link rel="stylesheet" type="text/css" href=" {% static "css/slides.css" %}"></link>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src=" {% static "swfobject/swfobject.js" %} "></script>
<script src=" {% static "js/jquery.bxslider.min.js" %} "></script>
<script src=" {% static "js/multi_slide.js" %}"></script>
<!--IMPORTS-->
 </head>
</html>
<body>
 <div class="slide-container">
  <div class="slide" id="newsSlide">
   <div class="view view-front-page-news-items view-id-front_page_news_items view-display-id-block_2 view-dom-id-aaf6d3ad38456ce3e39b9beccc36f6fc">
    <div class="view-header">
     <h1>
      News
     </h1>
    </div>
    <div class="view-content">
     <div class="item-list">
      <ul>
       <li class="views-row views-row-1 views-row-odd views-row-first">
        <div about="/news/yanqi-zhou-selected-attend-2016-rising-stars-workshop" class="node node-news-item node-teaser clearfix" id="node-33959" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Yanqi Zhou Selected to Attend 2016 Rising Stars Workshop
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              EE Graduate Student Yanqi Zhou has been selected to attend 2016 Rising Stars Workshop hosted by Carnegie Melon University this October.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/yanqi-zhou-selected-attend-2016-rising-stars-workshop" rel="tag" title="Yanqi Zhou Selected to Attend 2016 Rising Stars Workshop">
            Read more
            <span class="element-invisible">
             about Yanqi Zhou Selected to Attend 2016 Rising Stars Workshop
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-2 views-row-even">
        <div about="/news/janam-jhaveri-selected-2017-siebel-scholar-energy-science" class="node node-news-item node-teaser clearfix" id="node-33943" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Janam Jhaveri selected as 2017 Siebel Scholar in Energy Science
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              EE Graduate Student Janam Jhaveri is the receipient of 2017 Siebel Scholars award. Janam is advised by Prof. James Sturm.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/janam-jhaveri-selected-2017-siebel-scholar-energy-science" rel="tag" title="Janam Jhaveri selected as 2017 Siebel Scholar in Energy Science">
            Read more
            <span class="element-invisible">
             about Janam Jhaveri selected as 2017 Siebel Scholar in Energy Science
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-3 views-row-odd">
        <div about="/news/wagner-receives-2016-ibm-faculty-award" class="node node-news-item node-teaser clearfix" id="node-33762" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Wagner receives 2016 IBM Faculty Award
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              Emeritus Professor receives 2016 IBM Faculty Award.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/wagner-receives-2016-ibm-faculty-award" rel="tag" title="Wagner receives 2016 IBM Faculty Award">
            Read more
            <span class="element-invisible">
             about Wagner receives 2016 IBM Faculty Award
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-4 views-row-even">
        <div about="/news/ee-students-and-faculty-present-security-research-acm-conference" class="node node-news-item node-teaser clearfix" id="node-33763" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           EE Students and Faculty Present Security Research at ACM Conference
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              EE Faculty and Grad Students present papers at 23rd Annual ACM Conference on Computer and Communications Security.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/ee-students-and-faculty-present-security-research-acm-conference" rel="tag" title="EE Students and Faculty Present Security Research at ACM Conference">
            Read more
            <span class="element-invisible">
             about EE Students and Faculty Present Security Research at ACM Conference
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-5 views-row-odd">
        <div about="/news/new-microchip-piton-presented-hot-chips-symposium" class="node node-news-item node-teaser clearfix" id="node-33764" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           New Microchip "Piton" presented at Hot Chips Symposium
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              Princeton Parallel Group's "Piton", among the largest chip ever built in academica, shows how servers could run far more efficiently and cheaply.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/new-microchip-piton-presented-hot-chips-symposium" rel="tag" title='New Microchip "Piton" presented at Hot Chips Symposium'>
            Read more
            <span class="element-invisible">
             about New Microchip "Piton" presented at Hot Chips Symposium
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-6 views-row-even">
        <div about="/news/changchang-liu-selected-attend-2016-rising-stars-workshop" class="node node-news-item node-teaser clearfix" id="node-33646" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Changchang Liu selected to attend 2016 Rising Stars Workshop
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              EE Graduate Student Changchang Liu has been selected to attend the 2016 Rising Stars Workshop hosted by Carnegie Melon University.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/changchang-liu-selected-attend-2016-rising-stars-workshop" rel="tag" title="Changchang Liu selected to attend 2016 Rising Stars Workshop">
            Read more
            <span class="element-invisible">
             about Changchang Liu selected to attend 2016 Rising Stars Workshop
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-7 views-row-odd views-row-last">
        <div about="/news/kahn-appointed-vice-dean-seas" class="node node-news-item node-teaser clearfix" id="node-33480" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Kahn appointed as Vice Dean of SEAS
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              Prof. Antoine Kahn, Electrical Engineering professor and Stephen C. Macaleer '63 Professor in Engineering and Applied Science, has been appointed as vice dean of the School of Engineering.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/kahn-appointed-vice-dean-seas" rel="tag" title="Kahn appointed as Vice Dean of SEAS">
            Read more
            <span class="element-invisible">
             about Kahn appointed as Vice Dean of SEAS
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/IW Spring 2016 Poster Session.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Car Lab 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Senior Banquet 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Senior Thesis 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Class of 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/group with text.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Early Career 1 with text.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Bede Liu with text.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="eventSlide">
   <div class="view view-events-home-page view-id-events_home_page view-display-id-block_2 view-dom-id-405c114c21f6628cfed5f543d1d97e72">
    <div class="view-header">
     <h1>
      Events
     </h1>
    </div>
    <div class="view-content">
     <div class="views-row views-row-1 views-row-odd views-row-first">
      <div about="/events/advances-planar-optics-technology" class="node node-event-item node-teaser clearfix" id="node-33952" typeof="sioc:Item foaf:Document">
       <div class="content">
        <h1>
         Advances in Planar Optics Technology
        </h1>
        <div class="field field-name-field-speaker field-type-text field-label-inline clearfix">
         <div class="field-label">
          Speaker:
         </div>
         <div class="field-items">
          <div class="field-item even">
           Dr. Russ Gruhlke, Qualcomm Inc.
          </div>
         </div>
        </div>
        <div class="field field-name-field-series field-type-taxonomy-term-reference field-label-inline clearfix">
         <div class="field-label">
          Series:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="lineage-item lineage-item-level-0">
            Topical Seminars
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-event-date field-type-datetime field-label-inline clearfix">
         <div class="field-label">
          Date/Time:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="date-display-single">
            Tuesday, September 20, 2016 -
            <span class="date-display-start" content="2016-09-20T16:30:00-04:00" datatype="xsd:dateTime" property="dc:date">
             4:30pm
            </span>
            to
            <span class="date-display-end" content="2016-09-20T17:30:00-04:00" datatype="xsd:dateTime" property="dc:date">
             5:30pm
            </span>
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-location field-type-text field-label-inline clearfix">
         <div class="field-label">
          Location:
         </div>
         <div class="field-items">
          <div class="field-item even">
           B205 Engineering Quadrangle
          </div>
         </div>
        </div>
       </div>
       <ul class="links inline">
        <li class="node-readmore first last">
         <a href="/events/advances-planar-optics-technology" rel="tag" title="Advances in Planar Optics Technology">
          Read more
          <span class="element-invisible">
           about Advances in Planar Optics Technology
          </span>
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="views-row views-row-2 views-row-even">
      <div about="/events/minimum-mean-p-th-error-gaussian-noise-channels-and-its-applications" class="node node-event-item node-teaser clearfix" id="node-33815" typeof="sioc:Item foaf:Document">
       <div class="content">
        <h1>
         On the Minimum Mean p-th Error in Gaussian Noise Channels and its Applications
        </h1>
        <div class="field field-name-field-speaker field-type-text field-label-inline clearfix">
         <div class="field-label">
          Speaker:
         </div>
         <div class="field-items">
          <div class="field-item even">
           Alex Dytso, Princeton University
          </div>
         </div>
        </div>
        <div class="field field-name-field-series field-type-taxonomy-term-reference field-label-inline clearfix">
         <div class="field-label">
          Series:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="lineage-item lineage-item-level-0">
            Topical Seminars
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-event-date field-type-datetime field-label-inline clearfix">
         <div class="field-label">
          Date/Time:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="date-display-single">
            Thursday, September 29, 2016 -
            <span class="date-display-start" content="2016-09-29T16:30:00-04:00" datatype="xsd:dateTime" property="dc:date">
             4:30pm
            </span>
            to
            <span class="date-display-end" content="2016-09-29T17:30:00-04:00" datatype="xsd:dateTime" property="dc:date">
             5:30pm
            </span>
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-location field-type-text field-label-inline clearfix">
         <div class="field-label">
          Location:
         </div>
         <div class="field-items">
          <div class="field-item even">
           Engineering Quadrangle B205
          </div>
         </div>
        </div>
       </div>
       <ul class="links inline">
        <li class="node-readmore first last">
         <a href="/events/minimum-mean-p-th-error-gaussian-noise-channels-and-its-applications" rel="tag" title="On the Minimum Mean p-th Error in Gaussian Noise Channels and its Applications">
          Read more
          <span class="element-invisible">
           about On the Minimum Mean p-th Error in Gaussian Noise Channels and its Applications
          </span>
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="views-row views-row-3 views-row-odd views-row-last">
      <div about="/events/programming-and-system-support-reliable-intermittent-computing" class="node node-event-item node-teaser clearfix" id="node-33988" typeof="sioc:Item foaf:Document">
       <div class="content">
        <h1>
         Programming and System Support for Reliable Intermittent Computing
        </h1>
        <div class="field field-name-field-speaker field-type-text field-label-inline clearfix">
         <div class="field-label">
          Speaker:
         </div>
         <div class="field-items">
          <div class="field-item even">
           Prof. Brandon Lucia, Carnegie Mellon University
          </div>
         </div>
        </div>
        <div class="field field-name-field-series field-type-taxonomy-term-reference field-label-inline clearfix">
         <div class="field-label">
          Series:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="lineage-item lineage-item-level-0">
            Topical Seminars
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-event-date field-type-datetime field-label-inline clearfix">
         <div class="field-label">
          Date/Time:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="date-display-single">
            Thursday, September 29, 2016 -
            <span class="date-display-start" content="2016-09-29T16:30:00-04:00" datatype="xsd:dateTime" property="dc:date">
             4:30pm
            </span>
            to
            <span class="date-display-end" content="2016-09-29T17:30:00-04:00" datatype="xsd:dateTime" property="dc:date">
             5:30pm
            </span>
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-location field-type-text field-label-inline clearfix">
         <div class="field-label">
          Location:
         </div>
         <div class="field-items">
          <div class="field-item even">
           Friend Center 004
          </div>
         </div>
        </div>
       </div>
       <ul class="links inline">
        <li class="node-readmore first last">
         <a href="/events/programming-and-system-support-reliable-intermittent-computing" rel="tag" title="Programming and System Support for Reliable Intermittent Computing">
          Read more
          <span class="element-invisible">
           about Programming and System Support for Reliable Intermittent Computing
          </span>
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- .slide -->
 </div>
 <!-- .slide-container -->
 <!-- Added by Kevin Wang for the face recognition, Modified by Sanket Satpathy-->
 <div class="slide" id="face-message">
 </div>
 <div class="slide" id="face-poster">
 </div>
 <script>
  // Added polling loop by Kevin Wang, for updating the face recognition popups
    // Note: this is very inefficient, as it send requests to backend continually
    // It will be updated to use websockets in the future.
    $(document).ready(function() {

      // How frequently, in seconds, that we send a request to the backend
      var updatePeriod = 1;

      // when the last greeting message was put up
      var fadeInTime = null;
      var posterfadeInTime = null;

      // Time, in seconds, that the greeting message should stay up
      var displayTime = 1;
      var posterdisplayTime = 15;
      var fadedOut = true;
      var posterfadedOut = true;

      // Array of random greetings to use
      var greetings = ["Hi, are you _?", "You look a bit like _", "_ is a nice name",
                       "Did you know _ is really smart?", "Wow, I've never met _ before",
                       "A pleasure to meet you, _", "It's an honor to meet _",
                       "You have a resemblance to _", "I feel the presence of _",
                       "Do you know _?", "You remind me of _", "Is it really ... _?",
                       "Are you related to _?", "_, have a great day!",
                       "I'm happy when _ is around", "I have been looking for _",
                       "_, where have you been?"];

      $("#face-poster").css({ position:'absolute', top:'0px', left:'0px'});
      $("#face-message").css({ position:'center'})//, top:'400px', left:'200px'});
      $("#face-message").css("font-size", "40px");

      (function ajax_polling()
      {
          // fade out the div if necessary
          if (((new Date() / 1000) - fadeInTime) > displayTime) {
            $("#face-message").fadeOut();
            fadedOut = true;
          }
          if (((new Date() / 1000) - posterfadeInTime) > posterdisplayTime) {
            $("#face-poster").fadeOut();
            posterfadedOut = true;
          }
          // send the request using AJAX
          $.ajax(
          {
                type: "GET",
                url: "check-faces",
                success: function(response) 
                {
                  if (response["names"].length > 0) {
                    console.log(response["names"]);

                    if (posterfadedOut) {
                      if (response["names"][0].slice(0,7) == "poster_"){
                        text = '<img src="static/poster/'.concat(response["names"][0])
                        text = text.concat('" style="width:100%;height:100%;"/>')
                        $("#face-poster").html(text);
                        $("#face-poster").fadeIn();
                        posterfadeInTime = new Date() / 1000;
                        posterfadedOut = false;
                      }
                    }
                    if (fadedOut) {
                      var text = "";
                      
                      for (var i = 0; i < response["names"].length; i++) {
                        if (response["names"][i].slice(0,7) != "poster_") {
                          var random = greetings[Math.floor(Math.random() * greetings.length)];
                          var message = random.split("_").join(response["names"][i]) + "<br>";
                          text += message;
                        }
                      }
                      $("#face-message").html(text);
                      $("#face-message").fadeIn();
                      fadeInTime = new Date() / 1000;
                      fadedOut = false;
                    }  
                  }
                },
                complete: function(response) 
                {
                  // after request in complete, wait updatePeriod secs before 
                  // trying again
                  setTimeout(ajax_polling, 1000*updatePeriod);
                }
            });
          
          
      })();
    });
 </script>
</body>
$("#face-message").html(text);
                      $("#face-message").fadeIn();
                      fadeInTime = new Date() / 1000;
                      fadedOut = false;
                    }  
                  }
                },
                complete: function(response) 
                {
                  // after request in complete, wait updatePeriod secs before 
                  // trying again
                  setTimeout(ajax_polling, 1000*updatePeriod);
                }
            });
          
          
      })();
    });
