<!DOCTYPE html>
<html lang="en-us">
 {% load staticfiles %}
 <head>
  <title>
   EE Slider
  </title>
  <!--IMPORTS-->
<!--This file is a very hacky solution to BeautifulSoup messing up the static formatting needed for Django. Will be cleaned in the future-->
<link rel="stylesheet" type="text/css" href=" {% static "css/jquery.bxslider.css" %}"></link>
<link rel="stylesheet" type="text/css" href=" {% static "css/style.min.css" %}"></link>
<!-- Added by Kevin Wang-->
<link rel="stylesheet" type="text/css" href=" {% static "css/slides.css" %}"></link>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src=" {% static "swfobject/swfobject.js" %} "></script>
<script src=" {% static "js/jquery.bxslider.min.js" %} "></script>
<script src=" {% static "js/multi_slide.js" %}"></script>
<!--IMPORTS-->
 </head>
</html>
<body>
 <div class="slide-container">
  <div class="slide" id="newsSlide">
   <div class="view view-front-page-news-items view-id-front_page_news_items view-display-id-block_2 view-dom-id-4ab524859f1ef2fb66624a85e62796c8">
    <div class="view-header">
     <h1>
      News
     </h1>
    </div>
    <div class="view-content">
     <div class="item-list">
      <ul>
       <li class="views-row views-row-1 views-row-odd views-row-first">
        <div about="/news/chung-chih-wu-97-receives-distinguished-award-society-information-display" class="node node-news-item node-teaser clearfix" id="node-33196" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Chung-Chih Wu *97 receives distinguished award from The Society for Information Display
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              EE Alum received Distinguished Award.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/chung-chih-wu-97-receives-distinguished-award-society-information-display" rel="tag" title="Chung-Chih Wu *97 receives distinguished award from The Society for Information Display">
            Read more
            <span class="element-invisible">
             about Chung-Chih Wu *97 receives distinguished award from The Society for Information Display
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-2 views-row-even">
        <div about="/news/department-celebrates-2016-phd-graduates" class="node node-news-item node-teaser clearfix" id="node-33191" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Department Celebrates the 2016 PhD Graduates
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              Department honors 28 PhD graduates during breakfast reception and ceremony.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/department-celebrates-2016-phd-graduates" rel="tag" title="Department Celebrates the 2016 PhD Graduates">
            Read more
            <span class="element-invisible">
             about Department Celebrates the 2016 PhD Graduates
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-3 views-row-odd">
        <div about="/news/department-presents-class-2016-awards" class="node node-news-item node-teaser clearfix" id="node-33192" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Department presents Class of 2016 with Awards
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              EE Class of 2016 receives departmental awards on Class Day.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/department-presents-class-2016-awards" rel="tag" title="Department presents Class of 2016 with Awards">
            Read more
            <span class="element-invisible">
             about Department presents Class of 2016 with Awards
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-4 views-row-even">
        <div about="/news/two-ee-seniors-receive-seas-undergraduate-awards-0" class="node node-news-item node-teaser clearfix" id="node-33194" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Two EE Seniors receive SEAS Undergraduate Awards
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              Two seniors receive SEAS undergraduate awards on Class Day.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/two-ee-seniors-receive-seas-undergraduate-awards-0" rel="tag" title="Two EE Seniors receive SEAS Undergraduate Awards">
            Read more
            <span class="element-invisible">
             about Two EE Seniors receive SEAS Undergraduate Awards
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-5 views-row-odd">
        <div about="/news/akil-word-daniels-receives-teaching-award-assistant-instruction" class="node node-news-item node-teaser clearfix" id="node-32655" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Akil Word-Daniels receives Teaching Award for Assistant in Instruction
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              Word-Daniels received Teaching Award from Graduate School.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/akil-word-daniels-receives-teaching-award-assistant-instruction" rel="tag" title="Akil Word-Daniels receives Teaching Award for Assistant in Instruction">
            Read more
            <span class="element-invisible">
             about Akil Word-Daniels receives Teaching Award for Assistant in Instruction
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-6 views-row-even">
        <div about="/news/graduate-student-commencement-and-reception-monday-may-30th-%E2%80%93-dr-anthony-ephremides-71-guest" class="node node-news-item node-teaser clearfix" id="node-33123" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Graduate Student Commencement and Reception Monday, May 30th – Dr. Anthony Ephremides *71 guest speaker
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              EE Alum Dr. Anthony Ephremides *71 is guest speaker for department's graduate program commencement and reception on May 30th.
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/graduate-student-commencement-and-reception-monday-may-30th-%E2%80%93-dr-anthony-ephremides-71-guest" rel="tag" title="Graduate Student Commencement and Reception Monday, May 30th – Dr. Anthony Ephremides *71 guest speaker">
            Read more
            <span class="element-invisible">
             about Graduate Student Commencement and Reception Monday, May 30th – Dr. Anthony Ephremides *71 guest speaker
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
       <li class="views-row views-row-7 views-row-odd views-row-last">
        <div about="/news/sengupta-receives-durip-grant" class="node node-news-item node-teaser clearfix" id="node-33107" typeof="sioc:Item foaf:Document">
         <div class="content">
          <h2>
           Sengupta receives DURIP grant
          </h2>
          <div class="field field-name-field-teaser field-type-text-with-summary field-label-hidden">
           <div class="field-items">
            <div class="field-item even">
             <p>
              Prof. Kaushik Sengupta was awarded the Defense Research University Instrumentation Program (DURIP) grant from Office of Naval Research for his project “Universal Chip-scale mm-Wave and THz systems with Programmable Electromagnetic Fields for New Modalities in Sensing, Communication and Computation.”
             </p>
            </div>
           </div>
          </div>
         </div>
         <ul class="links inline">
          <li class="node-readmore first last">
           <a href="/news/sengupta-receives-durip-grant" rel="tag" title="Sengupta receives DURIP grant">
            Read more
            <span class="element-invisible">
             about Sengupta receives DURIP grant
            </span>
           </a>
          </li>
         </ul>
        </div>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Senior Thesis 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Class of 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/IW Spring 2016 Poster Session.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Car Lab 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Senior Banquet 2016.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/group with text.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Early Career 1 with text.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="imageSlide">
   <img src="http://ee.princeton.edu/sites/default/files/Bede Liu with text.jpg"/>
  </div>
  <!-- .slide -->
  <div class="slide" id="eventSlide">
   <div class="view view-events-home-page view-id-events_home_page view-display-id-block_2 view-dom-id-9149a4266287547027cc69b9ae0a9b4c">
    <div class="view-header">
     <h1>
      Events
     </h1>
    </div>
    <div class="view-content">
     <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      <div about="/events/functional-high-yield-molecular-scale-electronic-devices" class="node node-event-item node-teaser clearfix" id="node-33182" typeof="sioc:Item foaf:Document">
       <div class="content">
        <h1>
         Functional high-yield molecular-scale electronic devices
        </h1>
        <div class="field field-name-field-speaker field-type-text field-label-inline clearfix">
         <div class="field-label">
          Speaker:
         </div>
         <div class="field-items">
          <div class="field-item even">
           Professor Takhee Lee, Seoul National University, Seoul, Korea
          </div>
         </div>
        </div>
        <div class="field field-name-field-series field-type-taxonomy-term-reference field-label-inline clearfix">
         <div class="field-label">
          Series:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="lineage-item lineage-item-level-0">
            Topical Seminars
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-event-date field-type-datetime field-label-inline clearfix">
         <div class="field-label">
          Date/Time:
         </div>
         <div class="field-items">
          <div class="field-item even">
           <span class="date-display-single" content="2016-06-14T11:00:00-04:00" datatype="xsd:dateTime" property="dc:date">
            Tuesday, June 14, 2016 - 11:00am
           </span>
          </div>
         </div>
        </div>
        <div class="field field-name-field-location field-type-text field-label-inline clearfix">
         <div class="field-label">
          Location:
         </div>
         <div class="field-items">
          <div class="field-item even">
           Engineering Quadrangle, B205
          </div>
         </div>
        </div>
       </div>
       <ul class="links inline">
        <li class="node-readmore first last">
         <a href="/events/functional-high-yield-molecular-scale-electronic-devices" rel="tag" title="Functional high-yield molecular-scale electronic devices">
          Read more
          <span class="element-invisible">
           about Functional high-yield molecular-scale electronic devices
          </span>
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- .slide -->
 </div>
 <!-- .slide-container -->
 <!-- Added by Kevin Wang for the face recognition-->
 <div id="face-message">
 </div>
 <script>
  // Added polling loop by Kevin Wang, for updating the face recognition popups
    // Note: this is very inefficient, as it send requests to backend continually
    // It will be updated to use websockets in the future.
    $(document).ready(function() {

      // How frequently, in seconds, that we send a request to the backend
      var updatePeriod = 1;

      // when the last greeting message was put up
      var fadeInTime = null;

      // Time, in seconds, that the greeting message should stay up
      var displayTime = 1;
      var fadedOut = true;

      // Array of random greetings to use
      var greetings = ["Hi, are you _?", "You look a bit like _", "_ is a nice name",
                       "Did you know _ is really smart?", "Wow, I've never met _ before",
                       "A pleasure to meet you, _", "It's an honor to meet _",
                       "You have a resemblance to _", "I sense the presence of _",
                       "Do you know _?", "You remind me of _", "Is it really ... _?"];

      (function ajax_polling()
      {
          // fade out the div if necessary
          if (((new Date() / 1000) - fadeInTime) > displayTime) {
            $("#face-message").fadeOut();
            fadedOut = true;
          }
          // send the request using AJAX
          $.ajax(
          {
                type: "GET",
                url: "check-faces",
                success: function(response) 
                {
                  if (response["names"].length > 0) {
                    console.log(response["names"]);

                    if (fadedOut) {
                      var text = "";
                      
                      for (var i = 0; i < response["names"].length; i++) {
                        var random = greetings[Math.floor(Math.random() * greetings.length)];
                        var message = random.split("_").join(response["names"][i]) + "<br>";
                        text += message;
                      }
                      $("#face-message").css("font-size", "40px");
                      $("#face-message").html(text);
                      $("#face-message").fadeIn();
                      fadeInTime = new Date() / 1000;
                      fadedOut = false;
                    }
                  }
                },
                complete: function(response) 
                {
                  // after request in complete, wait updatePeriod secs before 
                  // trying again
                  setTimeout(ajax_polling, 1000*updatePeriod);
                }
            });
          
          
      })();
    });
 </script>
</body>
